﻿@model MITT.Commons.ViewModels.SkillViewModel

@{
    ViewData["Title"] = "Delete Skill";
}


<hi>Delete Skill</hi>

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(o=>o.SkillName)</dt>
        <dt class="col-sm-10">@Html.DisplayFor(o=>o.SkillName)</dt>

        <form asp-action="DeleteMITT">
            <input asp-route-id="@Model.SkillId" type="submit" value="Delete" class="btn btn-danger btn-sm" />
        </form>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
