﻿@model MITT.Commons.ViewModels.SkillViewModel

@{
    ViewData["Title"] = "Edit Skill";
}

<h1>Edit</h1>
<h4>Skill</h4>

<div class="row">
    <div class="col-md_4">
        <form asp-action="EditMITT">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SkillName" class="control-label"></label>
                <input asp-for="SkillName" class="form-control" />
                <span asp-validation-for="SkillName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>