﻿@model IEnumerable<MITT.Commons.ViewModels.SkillViewModel>

@{
    ViewData["Title"] = "Skills";
    //Layout = "~/Views/Shared/_AceAdminLayout.cshtml";

}

<h1>Skills</h1>
<br />
<div class="hidden-sm hidden-xs action-buttons">
    <table class="table table-bordered">
        <tr>
            <form asp-action="Index">
                <td align="left">
                    @using (Html.BeginForm("Index", "Skill", FormMethod.Get))
                    {
                        @Html.TextBox("search")
                        <input type="submit" value="Search" align="right" />
                    }
                </td>
            </form>
            <td align="right">
                <a class="btn btn-primary btn-sm" asp-action="CreateMITT" >
                    Create
                </a>
            </td>
        </tr>
    </table>
</div>

<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SkillId)</th>
                <th>@Html.DisplayNameFor(model => model.SkillName)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SkillId)</td>
                        <td>@Html.DisplayFor(modelItem => item.SkillName)</td>
                        <td>
                            <div class="hidden-sm hidden-xs btn-group">
                                <a class="btn btn-success btn-sm" asp-action="EditMITT" asp-route-id="@item.SkillId">
                                    Edit
                                </a>

                                <a class="btn btn-danger btn-sm" asp-action="DeleteMITT" asp-route-id="@item.SkillId">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                } }
        </tbody>
    </table>
</div>



